<%= form_with(model: course) do |form| %>
  <% if course.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :image, placeholder: "Изображение", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.text_field :video, placeholder: "Видео", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.text_field :title, placeholder: "Название", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.number_field :star, placeholder: "Рейтинг", class: "form-control" %>
  </div>

  <div class="field">
    <%= form.text_area :description, placeholder: "Описание", length: "800", class: "form-control" %>
  </div>

  <div class="form-check">
    <%= form.check_box :public, id: :public, class: "form-check-input" %>
    <label for="public" class="form-check-label">Опубликовать?</label>
  </div>

  <br>

  <button type="submit" class="btn btn-primary">Сохранить</button>

  <%= link_to "Открыть все курсы", courses_path, class: "btn btn-secondary" %>
<% end %>
